In [0]:
from google.colab import files

In [2]:
uploaded=files.upload()

Saving Churn_Modelling.csv to Churn_Modelling.csv

In [0]:
import io
import pandas as pd

In [0]:
df= pd.read_csv(io.BytesIO(uploaded['Churn_Modelling.csv']))

In [5]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [7]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [0]:
x=df.iloc[:,3:-1]

In [9]:
x

      CreditScore Geography  Gender  ...  HasCrCard  IsActiveMember  EstimatedSalary
0             619    France  Female  ...          1               1        101348.88
1             608     Spain  Female  ...          0               1        112542.58
2             502    France  Female  ...          1               0        113931.57
3             699    France  Female  ...          0               0         93826.63
4             850     Spain  Female  ...          1               1         79084.10
...           ...       ...     ...  ...        ...             ...              ...
9995          771    France    Male  ...          1               0         96270.64
9996          516    France    Male  ...          1               1        101699.77
9997          709    France  Female  ...          0               1         42085.58
9998          772   Germany    Male  ...          1               0         92888.52
9999          792    France  Female  ...          1               0         38190.78

[10000 rows x 10 columns]

In [0]:
y=df.iloc[:,-1:]

In [11]:
y.head()
y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 1 columns):
Exited    10000 non-null int64
dtypes: int64(1)
memory usage: 78.2 KB

In [0]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [0]:
from sklearn.compose import ColumnTransformer

In [0]:
ct=ColumnTransformer([('Geography', OneHotEncoder(),[1] )], remainder='passthrough')

In [0]:
x=ct.fit_transform(x)

In [16]:
x[0]

array([1.0, 0.0, 0.0, 619, 'Female', 42, 2, 0.0, 1, 1, 1, 101348.88],
      dtype=object)

In [0]:
label=LabelEncoder()
x[:,4]=label.fit_transform(x[:,4])

In [0]:
x=x[:,1:]

In [19]:
x[0]

array([0.0, 0.0, 619, 0, 42, 2, 0.0, 1, 1, 1, 101348.88], dtype=object)

In [20]:
x.shape

(10000, 11)

In [0]:
 from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
x=sc.fit_transform(x)

In [0]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x, y, test_size=0.3)

In [25]:
x_train.shape

(7000, 11)

In [26]:
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [27]:
classifier=Sequential()

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [28]:
classifier.add(Dense(units=6, activation='relu', input_dim=11))
classifier.add(Dense(units=1, activation='sigmoid'))
classifier.compile(optimizer='adam',loss='binary_crossentropy', metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3657: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [29]:
classifier.fit(x_train, y_train, batch_size=10, epochs=100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

7000/7000 [==============================] - 1s 198us/step - loss: 0.5880 - acc: 0.7181
Epoch 2/100
7000/7000 [==============================] - 1s 114us/step - loss: 0.4603 - acc: 0.8066
Epoch 3/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.4334 - acc: 0.8150
Epoch 4/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.4170 - acc: 0.8239
Epoch 5/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.4027 - acc: 0.8299
Epoch 6/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.3901 - acc: 0.8346
Epoch 7/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3802 - acc: 0.8386
Epoch 8/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3721 - acc: 0.8426
Epoch 9/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3654 - acc: 0.8497
Epoch 10/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3602 - acc: 0.8506
Epoch 11/100
7000/7000 [==============================] - 1s 115us/step - loss: 0.3559 - acc: 0.8543
Epoch 12/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3531 - acc: 0.8527
Epoch 13/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3511 - acc: 0.8554
Epoch 14/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3499 - acc: 0.8569
Epoch 15/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3488 - acc: 0.8551
Epoch 16/100
7000/7000 [==============================] - 1s 107us/step - loss: 0.3480 - acc: 0.8573
Epoch 17/100
7000/7000 [==============================] - 1s 104us/step - loss: 0.3476 - acc: 0.8564
Epoch 18/100
7000/7000 [==============================] - 1s 104us/step - loss: 0.3466 - acc: 0.8580
Epoch 19/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3464 - acc: 0.8574
Epoch 20/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3457 - acc: 0.8576
Epoch 21/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3453 - acc: 0.8577
Epoch 22/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3450 - acc: 0.8584
Epoch 23/100
7000/7000 [==============================] - 1s 107us/step - loss: 0.3445 - acc: 0.8584
Epoch 24/100
7000/7000 [==============================] - 1s 106us/step - loss: 0.3441 - acc: 0.8581
Epoch 25/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3437 - acc: 0.8574
Epoch 26/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3433 - acc: 0.8580
Epoch 27/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.3428 - acc: 0.8574
Epoch 28/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3426 - acc: 0.8589
Epoch 29/100
7000/7000 [==============================] - 1s 108us/step - loss: 0.3426 - acc: 0.8586
Epoch 30/100
7000/7000 [==============================] - 1s 114us/step - loss: 0.3420 - acc: 0.8601
Epoch 31/100
7000/7000 [==============================] - 1s 107us/step - loss: 0.3418 - acc: 0.8613
Epoch 32/100
7000/7000 [==============================] - 1s 106us/step - loss: 0.3421 - acc: 0.8586
Epoch 33/100
7000/7000 [==============================] - 1s 106us/step - loss: 0.3418 - acc: 0.8599
Epoch 34/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3416 - acc: 0.8579
Epoch 35/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3416 - acc: 0.8591
Epoch 36/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3409 - acc: 0.8609
Epoch 37/100
7000/7000 [==============================] - 1s 104us/step - loss: 0.3405 - acc: 0.8600
Epoch 38/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3407 - acc: 0.8607
Epoch 39/100
7000/7000 [==============================] - 1s 108us/step - loss: 0.3405 - acc: 0.8606
Epoch 40/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3404 - acc: 0.8614
Epoch 41/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.3399 - acc: 0.8609
Epoch 42/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3400 - acc: 0.8603
Epoch 43/100
7000/7000 [==============================] - 1s 100us/step - loss: 0.3393 - acc: 0.8574
Epoch 44/100
7000/7000 [==============================] - 1s 108us/step - loss: 0.3394 - acc: 0.8624
Epoch 45/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3392 - acc: 0.8589
Epoch 46/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.3391 - acc: 0.8593
Epoch 47/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3391 - acc: 0.8593
Epoch 48/100
7000/7000 [==============================] - 1s 108us/step - loss: 0.3388 - acc: 0.8604
Epoch 49/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.3385 - acc: 0.8604
Epoch 50/100
7000/7000 [==============================] - 1s 109us/step - loss: 0.3386 - acc: 0.8593
Epoch 51/100
7000/7000 [==============================] - 1s 108us/step - loss: 0.3385 - acc: 0.8589
Epoch 52/100
7000/7000 [==============================] - 1s 114us/step - loss: 0.3388 - acc: 0.8589
Epoch 53/100
7000/7000 [==============================] - 1s 104us/step - loss: 0.3382 - acc: 0.8604
Epoch 54/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3384 - acc: 0.8610
Epoch 55/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3383 - acc: 0.8587
Epoch 56/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3381 - acc: 0.8606
Epoch 57/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3380 - acc: 0.8609
Epoch 58/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3382 - acc: 0.8620
Epoch 59/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3380 - acc: 0.8590
Epoch 60/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3379 - acc: 0.8606
Epoch 61/100
7000/7000 [==============================] - 1s 117us/step - loss: 0.3377 - acc: 0.8597
Epoch 62/100
7000/7000 [==============================] - 1s 106us/step - loss: 0.3378 - acc: 0.8614
Epoch 63/100
7000/7000 [==============================] - 1s 105us/step - loss: 0.3378 - acc: 0.8607
Epoch 64/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3376 - acc: 0.8619
Epoch 65/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3379 - acc: 0.8597
Epoch 66/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3375 - acc: 0.8590
Epoch 67/100
7000/7000 [==============================] - 1s 108us/step - loss: 0.3377 - acc: 0.8624
Epoch 68/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3374 - acc: 0.8609
Epoch 69/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3370 - acc: 0.8609
Epoch 70/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3374 - acc: 0.8601
Epoch 71/100
7000/7000 [==============================] - 1s 117us/step - loss: 0.3372 - acc: 0.8614
Epoch 72/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3375 - acc: 0.8609
Epoch 73/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3377 - acc: 0.8604
Epoch 74/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3375 - acc: 0.8596
Epoch 75/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3374 - acc: 0.8604
Epoch 76/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3372 - acc: 0.8606
Epoch 77/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3374 - acc: 0.8609
Epoch 78/100
7000/7000 [==============================] - 1s 106us/step - loss: 0.3372 - acc: 0.8590
Epoch 79/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3369 - acc: 0.8617
Epoch 80/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3371 - acc: 0.8599
Epoch 81/100
7000/7000 [==============================] - 1s 113us/step - loss: 0.3370 - acc: 0.8611
Epoch 82/100
7000/7000 [==============================] - 1s 114us/step - loss: 0.3374 - acc: 0.8616
Epoch 83/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3368 - acc: 0.8600
Epoch 84/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3369 - acc: 0.8609
Epoch 85/100
7000/7000 [==============================] - 1s 115us/step - loss: 0.3372 - acc: 0.8604
Epoch 86/100
7000/7000 [==============================] - 1s 112us/step - loss: 0.3370 - acc: 0.8600
Epoch 87/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3370 - acc: 0.8599
Epoch 88/100
7000/7000 [==============================] - 1s 114us/step - loss: 0.3370 - acc: 0.8613
Epoch 89/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3368 - acc: 0.8620
Epoch 90/100
7000/7000 [==============================] - 1s 111us/step - loss: 0.3370 - acc: 0.8624
Epoch 91/100
7000/7000 [==============================] - 1s 110us/step - loss: 0.3368 - acc: 0.8603
Epoch 92/100
7000/7000 [==============================] - 1s 120us/step - loss: 0.3371 - acc: 0.8607
Epoch 93/100
7000/7000 [==============================] - 1s 119us/step - loss: 0.3366 - acc: 0.8610
Epoch 94/100
7000/7000 [==============================] - 1s 114us/step - loss: 0.3371 - acc: 0.8589
Epoch 95/100
7000/7000 [==============================] - 1s 115us/step - loss: 0.3365 - acc: 0.8593
Epoch 96/100
7000/7000 [==============================] - 1s 121us/step - loss: 0.3371 - acc: 0.8603
Epoch 97/100
7000/7000 [==============================] - 1s 121us/step - loss: 0.3369 - acc: 0.8607
Epoch 98/100
7000/7000 [==============================] - 1s 133us/step - loss: 0.3367 - acc: 0.8616
Epoch 99/100
7000/7000 [==============================] - 1s 132us/step - loss: 0.3368 - acc: 0.8610
Epoch 100/100
7000/7000 [==============================] - 1s 127us/step - loss: 0.3370 - acc: 0.8613

In [0]:
ypred=classifier.predict(x_test)

In [0]:
ypred=ypred>0.5

In [32]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ypred, y_test)

array([[2316,  339],
       [  81,  264]])

In [0]:
from sklearn.metrics import accuracy_score

In [34]:
accuracy_score(ypred, y_test)

0.86